<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- th:replace -> 태그 포함해서 전체 교체 -->
<!-- th:insert -> 태그 내부에 삽입 -->
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>

    <div class="container">
        <div class="py-5 text-center">
            <h2>스터디올래</h2>
        </div>

        <div th:replace="fragments.html :: footer"></div>
    </div>
    <!-- <script /> 이런식으로 하면 적용 안된다. <script></script> 이런식으로 할 것 -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="application/javascript">
        (function () {

        }())
    </script>
</body>
</html>